<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up-ApplySync</title>
    <link rel="stylesheet" href="/css/global.css">
    <script src="/js/global.js"></script>
</head>
<body>
<main>
    <form th:action="@{/signup}" method="post" class="flow-container">
        <fieldset>
            <legend>Sign Up</legend>
            <label for="firstName">Email:</label>
            <input type="text" id="firstName" name="firstName" required>
            <label for="lastName">Email:</label>
            <input type="text" id="lastName" name="lastName" required>
            <label for="email">Email:</label>
            <input type="text" id="email" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit" class="btn">Sign Up</button>
        </fieldset>
    </form>
</main>
<footer>
    <p>&copy; 2025 ApplySync. All rights reserved.</p>
</footer>
</body>
</html>